body{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #820AD1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
main{
    display: grid;
    background-color: white;
    padding: 60px;
    border-radius: 10px;
}